@using System.Xml.Linq
 
<header class="wrapperheader">
    <div class="overlay">
        <h1 class="wrapperheaderh1">EasyPlan</h1>
        <h3 class="wrapperheaderh3">A personal project</h3>
        <p class="wrapperheaderp">It is a personal proposal to help small entrepreneurs to facilitate and expedite certain required procedures and reduce their financial costs, simultaneously reducing their environmental impact.</p>
        <br>
        <button class="wrapperheaderbutton">READ MORE</button>
    </div>
</header>

<div class="row">
    <section class="homecards-wrapper">
        <div class="homecards-grid-space">

            <a class="homecards" href="#" style="        --bg-img: url(https://image.freepik.com/vector-gratis/simbolo-verde-reciclar-reutilizar-reducir_24911-30478.jpg)">
                <div>
                    <h1>Our commitment to the environment</h1>
                    <p>You can keep complex records and your employees can access them without having to print receipts.</p>
                    <div class="date"></div>
                    <div class="tags">
                        <div class="tag"> </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="homecards-grid-space">
            <a class="homecards" href="#" style="--bg-img: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa9sst5stTMVz2INBVNhbAod5CK52GGbvZ9A&usqp=CAU')">
                <div>
                    <h1>Our proposal for entrepreneurs.</h1>
                    <p>You can take your payroll in real time without the need for a complete department.</p>
                    <div class="date"></div>
                    <div class="tags">
                        <div class="tag"> </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <a class="homecards" href="#" style="--bg-img: url('https://scontent.fjap1-1.fna.fbcdn.net/v/t1.6435-9/116219322_3179853198770922_3996826094666918181_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=84a396&_nc_ohc=li884OKbtJEAX_Iqe7D&_nc_ht=scontent.fjap1-1.fna&oh=5fe05de3ac64a032ca2769465dcf326d&oe=6128A25B')">
                <div>
                    <h1>Our Benefits</h1>
                    <p>Help us to improve with ideas and proposals that adapt to your business model, in this way you help us grow.</p>
                    <div class="date"></div>
                    <div class="tags">
                        <div class="tag"> </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </section>
</div>