
@{
    Layout = null;
}


<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="~/Content/MeCSS.css" rel="stylesheet" />
<section class="hero-section">
    <div class="card-grid">
        <a class="card" href="#">
            <div class="card__background" style="
    background-image: url(https://scontent.fjap1-1.fna.fbcdn.net/v/t1.6435-9/74270606_2549964175093164_249851377323343872_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=QFcb6B35nWsAX9qoZX2&tn=lIbfYUKdRzDbux1q&_nc_ht=scontent.fjap1-1.fna&oh=57a8669c68ff45350e26882e173cebe8&oe=60BC839C)"></div>
            <div class="card__content">
                <p class="card__category">Mision</p>
                <h3 class="card__heading">Present a proposal for the payroll processes of a company in an easy and environmentally friendly way.</h3>
            </div>
        </a>
    </div>
</section>




