@model Modales.Models.Tbl_Trabajador

<div>
    <dl class="dl-horizontal" style="color:aliceblue;">
        <dt>
            User:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
        </dd>
    </dl>
</div>
